
<div class="clearfix">
   <%= f.label :name, t("activerecord.attributes.planner.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :version, t("activerecord.attributes.planner.version", :default => "Version"), :class => :label %>
  <div class="input">
    <%= f.text_field :version, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :parameters, t("activerecord.attributes.planner.parameters", :default => "Parameters"), :class => :label %>
  <div class="input">
    <%= f.text_field :parameters, :class => 'text_field' %>
  </div>
</div>
<div class="actions">
    <button class="btn primary" type="submit">Save</button> or <%= link_to "Cancel", planners_path, :class => 'btn primary'%>
</div>
