<h1>Planners</h1>
<table class="zebra-striped">
 <thead>
  <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Parameters</th>
    <th>Created</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @planners.each do |planner| -%>
   <tr>
    <td><%= link_to planner.name, planner_path(planner) %>
    <td><%= planner.version %>
    <td><%= planner.parameters %>
    </td>
        <td><%= planner.created_at %></td>
    <td>
      <%= link_to "Show", planner_path(planner) %>
      <%= link_to "Edit", edit_planner_path(planner) %>
      <%= link_to "Destroy", planner_path(planner), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
    </td>
    </tr>
    <% end -%>
   </tbody>
</table>

<%= link_to "New", new_planner_path, :class => 'btn primary' %>
