
<label class="label"><%= t("activerecord.attributes.planner.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</label>
<p><%= @planner.name %></p>

<label class="label"><%= t("activerecord.attributes.planner.version", :default => t("activerecord.labels.version", :default => "Version")) %>:</label>
<p><%= @planner.version %></p>

<label class="label"><%= t("activerecord.attributes.planner.parameters", :default => t("activerecord.labels.parameters", :default => "Parameters")) %>:</label>
<p><%= @planner.parameters %></p>
<div class="actions">
<%= link_to "Back", planners_path, :class => 'btn primary'  %>
<%= link_to "Edit", edit_planner_path(@planner), :class => 'btn primary' %>
<%= link_to "Delete", planner_path(@planner), :method => "delete", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn primary' %>
</div>
