
<div class="clearfix">
   <%= f.label :name, t("activerecord.attributes.subdomain.name", :default => "Name"), :class => :label %>
  <div class="input">
    <%= f.text_field :name, :class => 'text_field' %>
  </div>
</div>

<div class="clearfix">
   <%= f.label :domain_id, t("activerecord.attributes.subdomain.domain_id", :default => "Domain"), :class => :label %>
  <div class="input">
    <%= f.number_field :domain_id, :class => 'number_field' %>
  </div>
</div>
<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
  <%= link_to "Cancel", subdomains_path, :class => 'btn primary' %>
</div>
