<div class="clearfix">
   <label class="label">Planner</label>
   <p> <%= @solution.planner.name %></p>
</div>

<div class="clearfix">
   <label class="label">Domain</label>
   <p> <%= @solution.domain.name %></p>
</div>

<div class="clearfix">
   <label class="label">Problem</label>
   <p> <%= @solution.problem.name %></p>
</div>

<div class="clearfix">
   <label class="label">Source</label>
   <p> <%= @solution.source %></p>
</div>

<div class="clearfix">
   <label class="label">Plan quality</label>
   <p> <%= @solution.plan_quality %></p>
</div>

<div class="clearfix">
   <label class="label">Second plan quality</label>
   <p> <%= @solution.second_plan_quality %></p>
</div>

<div class="clearfix">
   <label class="label">Steps</label>
   <p> <%= @solution.steps %></p>
</div>

<div class="clearfix">
   <label class="label">Full solution</label>
   <p> <%= @solution.full_solution %></p>
</div>

<div class="clearfix">
   <label class="label">Full raw output</label>
   <p> <%= @solution.full_raw_output %></p>
</div>
