<!DOCTYPE html>
<html>
<head>
  <title>PlannerMan</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top: 10px">
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h3 class="brand"><%= link_to "PlannerMan", "/" %></h3>
        <ul class="nav">
          <li class="<%= controller.controller_path == 'planners' ? 'active' : '' %>"><a href="<%= planners_path %>">Planners</a></li>
          <li><%= link_to "Link2", "/path2"  %></li>
          <li><%= link_to "Link3", "/path3"  %></li>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="sidebar">
      <div class="well" style="padding-top: 70px">
        <h5>Sidebar</h5>
        <ul>
          <li class="<%= controller.controller_path == 'planners' ? 'active' : '' %>"><a href="<%= planners_path %>">Planners</a></li>
          <li><%= link_to "Link2", "/path2"  %></li>
          <li><%= link_to "Link3", "/path3"  %></li>
        </ul>
      </div>
    </div>
    <div class="content" style="padding-top: 70px">
      <%= yield %>
    </div>
  </div>
</body>
</html>
